# ai_classifier/requirements.txt

# Web server
fastapi>=0.111.0
uvicorn[standard]>=0.30.0

# HTTP client (for calling HF Inference Endpoint)
requests>=2.31.0

# Optional: if you want to load .env manually in code (현재는 FastAPI/uvicorn에서 env_file 쓰니까 필수는 아님)
python-dotenv==1.0.1
